@value colors: "../../styles/colors.module.css";
@value distances: "../../styles/distances.module.css";
@value color-background-button-primary, color-font-button-primary, color-background-button-secondary, color-font-button-secondary, color-background-button-danger, color-font-button-danger from colors;
@value padding-medium, radius-border-small from distances;

.button {
    border-radius: radius-border-small;
    border: none;
    padding: padding-medium;
}

.button:global(.primary) {
    background-color: color-background-button-primary;
    color: color-font-button-primary;
}

.button:global(.secondary) {
    background-color: color-background-button-secondary;
    color: color-font-button-secondary;
}

.button:global(.danger) {
    background-color: color-background-button-danger;
    color: color-font-button-danger;
}