@value colors: "../styles/colors.module.css";
@value border-color, modal-background-color from colors;

.container {
    position: relative;
}

.innerContainer {
    position: absolute;
    background-color: modal-background-color;
    border: 1px solid border-color;
    border-radius: 1rem;
}