@value colors: "../../shared/styles/colors.module.css";
@value color-border-dark, color-background-toolbar from colors;
@value distances: "../../shared/styles/distances.module.css";
@value size-border-medium, radius-border-medium from distances;

.container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    background-color: color-background-toolbar;
    border-bottom: color-border-dark size-border-medium solid;
    border-top-left-radius: radius-border-medium;
    border-top-right-radius: radius-border-medium;
}

.innerContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: radius-border-medium;
    border-top-right-radius: radius-border-medium;
}
