@value colors: "../../shared/styles/colors.module.css";
@value color-border, color-background-toolbar from colors;
@value distances: "../../shared/styles/distances.module.css";
@value size-border-medium from distances;

.container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    background-color: color-background-toolbar;
    border-bottom: color-border size-border-medium solid;
}

.innerContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
