@value colors: "../shared/styles/colors.module.css";
@value distances: "../shared/styles/distances.module.css";
@value fonts: "../shared/styles/fonts.module.css";
@value color-border-dark from colors;
@value size-border-large, radius-border-medium, padding-medium from distances;
@value font-family-default from fonts;

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border: color-border-dark size-border-large solid;
    border-radius: radius-border-medium;
    font-family: font-family-default;
    max-width: 100%;
}

.editor {
    padding: padding-medium;
    overflow: scroll;
}