@value colors: "../../colors.module.css";
@value remawy-border-color from colors;

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border: remawy-border-color 1px solid;
}