@value colors: "../shared/styles/colors.module.css";
@value distances: "../shared/styles/distances.module.css";
@value color-border from colors;
@value size-border-large from distances;

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border: color-border size-border-large solid;
}