@value colors: "../shared/styles/colors.module.css";
@value distances: "../shared/styles/distances.module.css";
@value color-font-danger, color-background-progress from colors;
@value size-font-large from colors;

.fileInput {
    font-size: size-font-large;
}

.errorMessage {
    color: color-font-danger;
}

.progressBar {
    background-color: color-background-progress;
    width: 100%;
}