@value colors: "../../styles/colors.module.css";
@value button-color-primary, button-text-color-primary, button-color-secondary, button-text-color-secondary, button-color-danger, button-text-color-danger from colors;

.button {
    border-radius: 0.2rem;
    border: none;
    padding: 0.2rem;
}

.button:global(.primary) {
    background-color: button-color-primary;
    color: button-text-color-primary;
}

.button:global(.secondary) {
    background-color: button-color-secondary;
    color: button-text-color-secondary;
}

.button:global(.danger) {
    background-color: button-color-danger;
    color: button-text-color-danger;
}