@value colors: "./colors.module.css";
@value distances: "./distances.module.css";
@value color-border, color-font-secondary from colors;
@value margin-small, margin-medium, padding-small, radius-border-small, size-border-small from distances;

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: margin-medium;
    padding: padding-small;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: margin-small;
}

.group label {
    font-size: small;
    color: color-font-secondary
}

.group input {
    border: size-border-small solid color-border;
    border-radius: radius-border-small;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: margin-small;
}
