@value colors: "../../styles/colors.module.css";
@value color-border-light from colors;
@value distances: "../../styles/distances.module.css";
@value padding-medium, radius-border-small, size-font-medium, size-border-small from distances;

.input {
    padding: padding-medium;
    font-size: size-font-medium;
    border-radius: radius-border-small;
    border: size-border-small solid color-border-light;
}
