@value colors: "../../shared/styles/colors.module.css";
@value toolbar-background-active-color from colors;

.button {
    flex: 1;
    background-color: transparent;
    border: none;
    margin: 0.2em;
}

.button:global(.active),.button:active,.button:hover {
    background-color: toolbar-background-active-color;
}