@value colors: "../../../colors.module.css";
@value remawy-toolbar-background-active-color from colors;

.button {
    flex: 1;
    background-color: transparent;
    border: none;
    margin: 0.2em;
}

.button:global(.active),.button:active,.button:hover {
    background-color: remawy-toolbar-background-active-color;
}