@value colors: "../../shared/styles/colors.module.css";
@value color-background-toolbar-active from colors;
@value distances: "../../shared/styles/distances.module.css";
@value margin-small, padding-medium, radius-border-small from distances;

.button {
    flex: 1;
    background-color: transparent;
    border: none;
    border-radius: radius-border-small;
    margin: margin-small;
    padding: padding-medium;
}

.button:global(.active),.button:active,.button:hover {
    background-color: color-background-toolbar-active;
}