@value colors: "../../styles/colors.module.css";
@value border-color, overlay-background-color, modal-background-color from colors;

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: overlay-background-color;
}

.innerContainer {
    position: relative;
    background-color: modal-background-color;
    border-radius: 0.5rem;
    font-size: large;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid border-color;
}

.header {
    padding: 0.5rem 1rem;
    font-size: x-large;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    gap: 2rem;
}

.closeButton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0.5rem;
}

.closeButton:hover {
    background-color: border-color
}
