@value colors: "../../styles/colors.module.css";
@value distances: "../../styles/distances.module.css";
@value color-border-dark, color-background-overlay, color-background-modal from colors;
@value padding-small, padding-medium, margin-medium, size-border-small, radius-border-large from distances;

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: color-background-overlay;
}

.innerContainer {
    position: relative;
    background-color: color-background-modal;
    border-radius: radius-border-large;
    font-size: large;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: size-border-small solid color-border-dark;
}

.header {
    padding: padding-small padding-medium;
    font-size: x-large;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: padding-medium;
    gap: margin-medium;
}

.closeButton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    padding: padding-small;
}

.closeButton:hover {
    background-color: color-border-dark
}
