@value colors: "../../../shared/styles/colors.module.css";
@value distances: "../../../shared/styles/distances.module.css";
@value color-background-progress from colors;
@value size-font-large from distances;

.fileInput {
    font-size: size-font-large;
}

.progressBar {
    background-color: color-background-progress;
    width: 100%;
}