@value distances: "../../styles/distances.module.css";
@value margin-small from distances;

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: margin-small;
}
