@value colors: "../../styles/colors.module.css";
@value distances: "../../styles/distances.module.css";
@value color-border-light, color-background-modal from colors;
@value size-border-medium, radius-border-medium, padding-medium from distances;

.container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.innerContainer {
    position: absolute;
    background-color: color-background-modal;
    border: size-border-medium solid color-border-light;
    border-radius: radius-border-medium;
    padding: padding-medium;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.innerContainer:global(.top-right) {
    top: 0;
    right: 0;
}

.innerContainer:global(.top-left) {
    top: 0;
    left: 0;
}

.innerContainer:global(.bottom-right) {
    bottom: 0;
    right: 0;
}

.innerContainer:global(.bottom-left) {
    bottom: 0;
    left: 0;
}
