.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3em;
}

.editorContainer {
    min-width: 50%;
    min-height: 30em;
}